@import url('./bootstrap/css/bootstrap.min.css');

header a, header a:visited {
	text-decoration:none;
	color:inherit;
}

a, a:active, a:hover, a:focus{
	text-decoration:none;
    color:#005e90;
}

a:hover{
	text-decoration:underline;
}

.aspNetDisabled, a.aspNetDisabled, .dnnDisabled, a.dnnDisabled {
    color: rgba(53, 113, 186, 0.75);
    background-color: transparent;
}

input {
    padding:2px;
	border-radius: 7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}

select {
    -webkit-appearance:none;
    padding: 2px;
    border-radius: 7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        padding-right:18px;
        background: white url("images/arrowHeadDown.png") no-repeat right center;
    }
}

#advanceSection{
	background: rgba(0, 0, 0, 0.20);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;	padding: 10px;
}

.rmb_form {
    box-shadow: 10px 10px 5px #888888; 
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topright:10px;
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
}

.AgapeLink{
	cursor:pointer;
}

.Agape_Subtitle {
    font-size: 13px;
}

.rmbDetails .dnnGridItem, .rmbDetails .dnnGridAltItem{
    font-size: 11px;
}

.rmbDetails {
    background: rgba(114, 199, 118, 0.20);
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

table.rmbDetails tr.dnnGridHeader, table.rmbDetails tr.dnnGridHeader th {
    background: transparent;
    border-right:none;
}

div.inverse {
    background: #444;
    color:white;
}

table.rmbDetails tr.dnnGridHeader{
    font-size: 13px;
    background: rgba(114, 199, 118, 0.50);
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

table.rmbHeader  {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright:10px;
    -moz-border-radius-topleft:10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-top-left-radius:10px;
    background:rgba(0, 0, 0, 0.20);
	padding: 10px 10px 0px 10px;
}

table.rmbHeaderContinuation {
        background:rgba(0, 0, 0, 0.20);
        padding: 10px;
}

div.rmbDataLines {
    background:rgba(0,0,0,0.04);
}

body {
	margin:0;
}

.clear{
	clear:both;
}

header .top{
	background-color:#222;
	color:#eee;
	height:30px;
}

header a:hover, header a:focus, header a:active {
        color: #eee;
    }
header #loginContainer{
	float:right;
	margin-right:20px;
	margin-top:2px;
}

header{
	background:#0079c1;
	height:154px;
	border-bottom:1px solid #218ac9;
	margin-bottom:48px;
	
}

header .middle{
	width:1000px;
	margin:0 auto;
	padding-top:32px;
}

header .menu_bg{
	background:#005e90;
	height:48px;
	position:relative;
	top:22px;
	border-top:thin solid #218ac9;
}

header .nav{
	width:1000px;
	margin:auto;
	margin-top: 10px;
}

header .nav .dnn_dnnnav_ctldnnnav_spmbctr td{
	padding:0 40px;
	color:#ffffff;
}

header td td{
	cursor:pointer;
}

.dnn_dnnnav_ctldnnnav_spmitm{
	background:#005e90;
	color:#ffffff;
	cursor:pointer;
}

.dnn_dnnnav_ctldnnnav_spmsub{
	margin:0 20px;
	margin-top:6px;
	z-index:5000;
}

.dnnLabel{
	width:inherit;
	width:initial;
}

td > .dnnLabel {
    width: 220px;
	width: inherit;
}


.dnn_dnnnav_ctldnnnav_spmsub td{
	padding:5px;
}

#dnn_ContentPane {
    width: 1200px;
}

/*header .nav .dnn_dnnnav_ctldnnnav_spmbctr td:hover{
	background:#0079c1;
	}*/

footer{
	background:#0079c1;
}

footer .bottom{
	width:1000px;
	margin:0 auto;
	padding:20px 0;

}

footer .bottom div{
	display:inline-block;
		color:#c4c4c4;
}

footer .bottom a{
	color:#c4c4c4;
}

footer .bottom{
	width:1000px;
	margin: auto;
	padding:13px;
}

footer .privacy{
	font-family: 'Open sans', sans-serif;
	font-size:13px;
	display:inline-block;
	margin-left:80px;
}
footer .privacy:hover{
	text-decoration:underline;
}
	
footer .copy{
	font-family: 'Open sans', sans-serif;
	font-size:13px;
}

.NormalTextBox{
	margin-right:5px;
}

.accounts_team {
    background-color:#eeeeee;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin-bottom:4px;
}

.team_leader {
    background-color: rgba(0, 93, 148, 0.11);
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin-bottom: 4px;
}

.approver {
    background-color: rgba(252, 175, 0, 0.25);
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    display:inline-block;
    width:100%;
    padding-top:4px;
    padding-bottom:4px;
    margin-bottom: 4px;
    text-align: center;
}

.my_section {
    background-color: rgba(0, 175, 0, 0.24);
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    width:100%;
    display:inline-block;
    padding-top:4px;
    padding-bottom:4px;
    margin-bottom: 4px;
    text-align:center;
}

#dnn_ContentPane{
	width:1000px;
	margin:auto;
}

/*.dnnFormMessage{
	width:1000px;
	margin:auto;
	margin-bottom:10px;
}*/

.ui-dialog{
	z-index:10000;
	background:white;
	border:solid 1px #000000;
	border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
	padding:10px;
}

.ui-dialog-title{
    display:none;
}

.AgapeH2{
    font-size:large;
    font-weight:200;
    color:rgba(2,139,255,1);
    padding-bottom:10px
}

.ui-tabs-nav  {
	list-style:none;
}

.ui-tabs-nav li, .AcHdr  {
	display:inline;
	margin:0 10px;
	padding:5px;
	border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.ui-state-default{
	background-color:#f8f8f8;
	padding:5px;
	border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.ui-state-active {
	background-color:#0079c1;
	padding:5px;
	border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.ui-state-active a {
    color: #FFFFFF;
}



/*li{
	text-decoration:none;
}*/

.ui-state-hover{
	text-decoration:underline;
}

.ui-state-error{
	font-weight: bold;
	color: #ee0000;
	border: 2px solid;
	background: #ffe4e4;
	border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.ui-state-highlight{
	font-style:italic;
}

.AgapeWarning{
	color: #0000ee;
	border: 2px solid;
	border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
	background: #e4e4ff;
	
}

.ui-accordion{
	padding:10px;
	border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
	border:2px solid #000000;
}

.ui-tabs-panel{
	padding:10px;
	border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
	border:1px solid #2989ff;
}

.ui-datepicker-next{
	float:right;
}

.ui-datepicker{
	background-color: #ffffff;
	border: 1px solid;
	border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
	padding: 5px;
	margin-top: 5px;
}


/*div.AcPane > div  > table > tbody, .dnn_ctr495_StaffRmb_tvProcessed{*/
.ui-accordion-content{
	display:block;
	overflow:auto;
	height:280px;
}

/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }       
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
        list-style:none;
        padding: 2px;
        margin: 0;
        display:block;
        z-index:1000;
		border:1px solid #000000;
		background-color:#ffffff;
		height:200px;
        overflow-x:hidden;
		overflow-y:scroll;
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        width: 100%;
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        line-height:1.5;
        zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}

.ui-helper-hidden-accessible { display:none; }

.loading_overlay {
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background-color:; 
    background: rgba(200, 200, 200, 0.7) url('/../../images/loading.gif') center center no-repeat;
    z-index:90000;
}

span.buttonLabel {
    border-radius:10px; 
    color:gray; 
    text-align:center;
    font-size:x-small;
}

.old_date {
    background-color:orange;
}

#olddatetext {
    color:orangered;
}

/*------------------------------------------------*/
/* NAVIGATION */
/* Borrowed from Gravity skin template */
/*------------------------------------------------*/

/* for Simple Menu, see Simple menu folder */

    .navbar{margin-bottom:0!important;
            width: 1000px;
            margin: 0 auto!important; 
            overflow:visible;
    }
    .navbar-inner{border:none!important; box-shadow:none!important; background:none transparent!important; padding-right:0!important;}
        .navbar .brand {padding:0!important;}

    /* Site Navigation */
    .nav-collapse {
	    float: right;
	    position:relative;
	    /*top: 18px;*/
    }

.nav-menu {
    padding: 0;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    left: 0;
    display: block;
    float: left;
    /*margin: 0 10px 0 0;*/
    list-style:none;
}
    .nav-menu:after {
        clear:both;
    }
    .nav-menu:after, .nav-menu:before {
        display: table;
        content: "";
        line-height: 0;
    }
    .nav-menu li { 
		position:relative; 
		list-style:none;
		margin: 0;
	}
	
    .nav-menu li ul {
		margin-left:0;
	}
	
    .nav-menu > li {
		float:left;
		/*height:30px;
		padding-top:5px;
		margin-right:2px;*/
	}
	
    .nav-menu > li > a,
    .nav-menu > li > span {
	    height: 31px;
		font-size:14px;
		text-decoration:none;	
        text-shadow: none!important;
        padding: 0 23px!important;
        color: #ffffff!important;
        font-family: 'Open Sans', sans-serif;
        float: left;
        position: relative;
        padding-top: 17px!important;
        top: -1px;
        padding-left: 20px!important;
	}
	
    .nav-menu > li:hover > a,
    .nav-menu > li.active > a  {
        color:#3B96B6;
        /* override default bootstrap nav pills styles*/
        background-color:#0079c1!important;
        box-shadow:none!important;
        /*border-bottom: thin solid #218ac9;*/
    }
    .nav-menu > li:hover > a:active { color:#3B96B6;}
    .nav-menu > li:hover > span { color:#3B96B6;}

    .nav-menu > li > a .caret.hidden-desktop{
        border:none!important;
        background-image:url(bootstrap/img/glyphicons-halflings-white.png);
        background-color:#333;
        background-position:-305px -110px!important;
        width:30px!important; line-height:30px!important; min-height:30px!important; height:auto;
        display:inline-block;
        margin:0!important;
        border-radius:3px;
    }
    .nav-menu > li > a .caret.hidden-desktop:hover {
        background:url(bootstrap/img/glyphicons-halflings-white.png) -305px -110px, linear-gradient(to bottom, #2D2D2D 0%, #565656 100%)!important;
    }

	/* Secondary level */
    .nav-menu > li ul {  /* Styles for all sub levels */
		top:35px; 
		left:0; 
		padding: 15px 5px;
		display:none;
		position:absolute;
		z-index: 2;
		width:225px;
		background:#F5F7F7;
		border: 1px solid #cbcbcb;
		/* CSS3 */
		border-radius: 0px;
		/*box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,1), 0px 0px 3px rgba(0,0,0,0.15);*/
		-webkit-box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, 0.4);
		box-shadow:			 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
		-webkit-animation-duration: .25s;
		-webkit-animation-delay: .2s;
		-webkit-animation-timing-function: ease;
		-webkit-animation-fill-mode: both;
		-moz-animation-duration: .25s;
		-moz-animation-delay: .2s;
		-moz-animation-timing-function: ease;
		-moz-animation-fill-mode: both;
		-ms-animation-duration: .25s;
		-ms-animation-delay: .2s;
		-ms-animation-timing-function: ease;
		-ms-animation-fill-mode: both;
		animation-duration: .25s;
		animation-delay: .2s;
		animation-timing-function: ease;
		animation-fill-mode: both;
		
	}
	
    .nav-collapse:not(.in) .nav-menu li:hover > ul { 
		display:block;
	}
    .nav-collapse .nav-menu li > iframe{ display: none;z-index: 1 !important;}
    .nav-collapse:not(.in) .nav-menu li:hover > iframe{ display: block;}

    .navbar .nav-menu > li > .dropdown-menu:before{
        border:none!important;
    }
	
    .navbar .nav-menu > li > .dropdown-menu:after {
		position:absolute!important;
		top:-15px!important; 
		left:20px!important;
		content:''!important;
		width:0px!important; 	
		height:0px!important; 
		border-left:15px solid transparent!important;  /* left arrow slant */
		border-right:15px solid transparent!important; /* right arrow slant */
		border-bottom:15px solid #F5F7F7!important; /* bottom, add background color here */
		font-size:0px!important;
		line-height:0px!important;
	}

    .nav-menu .dropdown-menu > .active > a,
    .nav-menu .dropdown-menu > .active > a:focus {
        background-color:transparent!important;
        background-image:none!important;
        color:#3B9FBF!important;
        outline:none;
    }
    .nav-menu .dropdown-menu a {
		display:block;
		padding: 3px 15px;
		color:#3B9FBF;
		font-size: 13px;
		font-weight: normal;
		text-decoration:none;
		/* transition decleration */
		transition: 		all ease-in 100ms;
		-moz-transition: 	all ease-in 100ms; /* Firefox 4 */
		-webkit-transition: all ease-in 100ms; /* Safari and Chrome */
		-o-transition: 		all ease-in 100ms; /* Opera */
		-ms-transition: 	all ease-in 100ms; /* IE9? */
	}
    .nav-menu .dropdown-menu > li > a:hover,
    .nav-menu .dropdown-menu > .active > a:hover{
        background-color:transparent!important;
        background-image:none!important;
        color:#DD0000!important;
    }
    .nav-collapse:not(.in) .nav-menu .dropdown-menu{
        border-radius:0!important;
    }
    .nav-menu > li > ul li:hover {
		color:#D00;
		background: #F5F7F7;
	}
	
	/* Tertiary level */
    .nav-menu li ul li ul {
		left:225px; 
		top:-8px;
		padding: 15px 5px;
		border-left: 1px solid #ddd;
	}

    /* Navigation button on mobile size */
    .nav-collapse.in {
        width:100%;
    }
    .navbar .btn-navbar {
        background-color: #333333!important;
        background-image: linear-gradient(to bottom, #333333, #333333)!important;
        cursor:pointer;
        margin-top:10px!important;
    }
    .navbar .btn-navbar:hover,
    .navbar .btn-navbar:active {
        background:linear-gradient(to bottom, #2D2D2D 0%, #565656 100%)!important;
    }
    /*------------------------------------------------*/
/* END OF NAVIGATION */
/*------------------------------------------------*/
