header a, header a:visited {
	text-decoration:none;
	color:inherit;
}

a, a:active, a:hover, a:focus{
	text-decoration:none;
	color:#0000ee;
}

a:hover{
	text-decoration:underline;
}

.AgapeLink{
	cursor:pointer;
}


body {
	margin:0;
}

.clear{
	clear:both;
}

header .top{
	background-color:#222;
	color:#eee;
	height:30px;
}

header a:hover, header a:focus, header a:active {
        color: #eee;
    }
header #loginContainer{
	float:right;
	margin-right:20px;
	margin-top:2px;
}

header{
	background:#0079c1;
	height:154px;
	border-bottom:1px solid #218ac9;
	margin-bottom:48px;
	
}

header .middle{
	width:1000px;
	margin:0 auto;
	padding-top:32px;
}

header .menu_bg{
	background:#005e90;
	height:48px;
	position:relative;
	top:22px;
	border-top:thin solid #218ac9;
}

header .nav{
	width:1000px;
	margin:auto;
	margin-top: 10px;
}

header .nav .dnn_dnnnav_ctldnnnav_spmbctr td{
	padding:0 40px;
	color:#ffffff;
}

header td td{
	cursor:pointer;
}

.dnn_dnnnav_ctldnnnav_spmitm{
	background:#005e90;
	color:#ffffff;
	cursor:pointer;
}

.dnn_dnnnav_ctldnnnav_spmsub{
	margin:0 20px;
	margin-top:6px;
	z-index:5000;
}

.dnn_dnnnav_ctldnnnav_spmsub td{
	padding:5px;
}

/*header .nav .dnn_dnnnav_ctldnnnav_spmbctr td:hover{
	background:#0079c1;
	}*/

footer{
	background:#0079c1;
}

footer .bottom{
	width:1000px;
	margin:0 auto;
	padding:20px 0;

}

footer .bottom div{
	display:inline-block;
		color:#c4c4c4;
}

footer .bottom a{
	color:#c4c4c4;
}

footer .bottom{
	width:1000px;
	margin: auto;
	padding:13px;
}

footer .privacy{
	font-family: 'Open sans', sans-serif;
	font-size:13px;
	display:inline-block;
	margin-left:80px;
}
footer .privacy:hover{
	text-decoration:underline;
}
	
footer .copy{
	font-family: 'Open sans', sans-serif;
	font-size:13px;
}

.NormalTextBox{
	margin-right:5px;
}

#dnn_ContentPane{
	width:1000px;
	margin:auto;
}

/*.dnnFormMessage{
	width:1000px;
	margin:auto;
	margin-bottom:10px;
}*/

.ui-dialog{
	z-index:10000;
	background:white;
	border:solid 1px #000000;
	border-radius:15px;
	padding:10px;
}

.ui-tabs-nav  {
	list-style:none;
}

.ui-tabs-nav li, .AcHdr  {
	display:inline;
	margin:0 10px;
	padding:5px;
	border-radius:5px;
}

.ui-state-default{
	background-color:#f8f8f8;
	padding:5px;
	border-radius:5px;
}

.ui-state-active {
	background-color:#bce7ff;
	padding:5px;
	border-radius:5px;
	
}



/*li{
	text-decoration:none;
}*/

.ui-state-hover{
	text-decoration:underline;
}

.ui-state-error{
	font-weight: bold;
	color: #ee0000;
	border: 2px solid;
	background: #ffe4e4;
	border-radius: 10px;
}

.ui-state-highlight{
	font-style:italic;
}

.AgapeWarning{
	color: #0000ee;
	border: 2px solid;
	border-radius: 10px;
	background: #e4e4ff;
	
}

.ui-accordion{
	padding:10px;
	border-radius:20px;
	border:2px solid #000000;
}

.ui-tabs-panel{
	padding:10px;
	border-radius:20px;
	border:1px solid #2989ff;
}

div.AcPane > div  > table > tbody, .dnn_ctr495_StaffRmb_tvProcessed{
	display:block;
	overflow:auto;
	height:280;
}